{% extends "layout.twig" %}

{% block content %}

<div class="bg-glow">

    <div class="global">

        <!--header-->
        <header>

            <div class="header">

                <div class="container">

                    <div class="row">

                        <article class="span12">

                            <h1 class="brand">{{widget('companyheader', 'companyheader', {"defaultlogo": asset('/images/logo.png')})|raw}}</h1>
                            {{widget('line', 'line', {'thickness': 'inherit', 'padding': 'inherit', 'length':'inherit', 'align': 'center'})|raw}}
                            {{widget('navigation', 'navigation', {'align': 'left'})|raw}}
                            {{widget('space', 'space', {'height': '30'})|raw}}

                        </article>

                    </div>

                </div>

            </div>

        </header>

        <!--content-->

        <div class="container">

            <div class="row">

                <article class="span12">

                    <div class="row">

                        <article class="span8">

                            {{widget('content', 'content', {content: '<h2>reserve your table</h2>', lines: 'all'})|raw}}

                            {{widget('image', 'aboutimage1', { 'src': asset('images/page2-img1.jpg'), 'imageWidth': '740px'})|raw}}

                            {{widget('content', 'aboutcontent1', {content: '<p>Aenean nonummy hendrerit mauris. Phasellus porta. Fusce suscipit varius mi. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nulla dui. Fusce feugiat malesuada odio. Morbi nunc odio, gravida at, cursus nec, luctus a, lorem. Maecenas tristique orci ac sem. Duis ultricies pharetra magna. Donec accumsan malesuada orci. Donec sit amet eros. Lorem ipsum <strong>call (952) 404-1100</strong> dolor sit amet, consectetuer adipiscing elit. Mauris fermentum dictum magna. Sed laoreet aliquam leo. Ut tellus dolor, dapibus eget, elementum vel, cursus eleifend, elit.</p><p>Quisque nulla. Vestibulum libero nisl, porta vel, scelerisque eget, malesuada at, neque. Vivamus eget nibh. Etiam cursus leo vel metus. Nulla facilisi. Aenean nec eros. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Suspendisse sollicitudin velit sed leo. Ut pharetra augue nec augue. Nam elit magna, hendrerit sit amet, tincidunt ac, viverra sed, nulla. Donec porta diam eu massa.</p>', lines: 'all'})|raw}}

                            {{widget('content', 'aboutlink1', {content: '<a href="#" class="link">click here to make a reservation online</a>', lines: 'all'})|raw}}

                            {{zone('main')|raw}}

                        </article>

                        <article class="span4">

                            {{widget('content', 'boxcontent', {content: '<div class="block"><strong>Lunch:</strong> Tues - Sat 11:45 am - 2:30 pm<br /><strong>Brunch:</strong> Sunday 10:30 am - 2 pm<br /><strong>Cafe Dinner:</strong> Sun - Fri 5:30 pm - 9:00 pm<br /><strong>Prix Fixe Dinner:</strong> Saturday 5:30 pm - 9:00 pm<br /><strong>Greens to Go:</strong> Mon - Thurs 8:30 am -  varies seasonally<br />Fri - Sat 8:30 am - varies seasonally<br />Sunday 9 am - 4 pm</div>', lines: 'all'})|raw}}

                            {{widget('space', 'space', {'height': '50'})|raw}}
                            {{widget('content', 'title2', {content: '<h2>latest news</h2>', lines: 'all'})|raw}}
                            {{widget('content', 'title2', {content: '<strong class="date">June 13, 2013</strong>', lines: 'all'})|raw}}
                            {{widget('content', 'title2', {content: '<p>Aenean nonummy hendrerit mauris. Phasellus porta. Fusce suscipit varius mi. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nulla dui. Fusce feugiat malesuada odio.</p>', lines: 'all'})|raw}}
                            {{widget('content', 'title2', {content: '<strong class="date">June 11, 2013</strong>', lines: 'all'})|raw}}
                            {{widget('content', 'title2', {content: '<p>Phasellus porta. Fusce suscipit varius mi. Cum sociis natoque ptibus et magnis dis parturient montes, nascetur ridiculus mus. Nulla dui. Fusce feugiat malesuada odio. Morbi nunc odio, gravida at, cursus.</p>', lines: 'all'})|raw}}
                            {{widget('content', 'title2', {content: '<strong class="date">June 10, 2013</strong>', lines: 'all'})|raw}}
                            {{widget('content', 'title2', {content: '<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Pellentesque sed dolor. Aliquam congue fermentum nisl. Mauris accumsan nulla vel diam. Sed in lacus ut enim adipiscing aliquet. Nulla venenatis.</p>', lines: 'all'})|raw}}

                        </article>

                    </div>

                </article>

            </div>

        </div>

        <!--footer-->
        <footer>

            <div class="container">

                <div class="row">

                    <section class="span12">

                        <div class="row">

                            <article class="span3">

                                {{widget('companyname', 'companyname', {"business": "sukura"})|raw}}
                                {{widget('content', 'copyright_copy', {content: '&nbsp;&copy;&nbsp;2013', lines: 'all'})|raw}}
                                {{widget('content', 'copyright_link', {content: '<a href="#">Privacy Policy</a>', lines: 'all'})|raw}}
                                {{widget('space', 'space', {'height': '30'})|raw}}

                            </article>

                            <article class="span6">

                                {{widget('navigation', 'navigation', {'align': 'left'})|raw}}
                                {{widget('space', 'space', {'height': '30'})|raw}}

                            </article>

                            <article class="span3">

                                {{widget('socialicons', 'socialicons', {'googleplus': 'https://plus.google.com', 'linkedin':'http://www.linkedin.com', 'facebook': 'https://www.facebook.com', 'twitter': 'https://twitter.com', 'youtube': 'https://www.youtube.com', 'rss': '#'})|raw}}
                                {{widget('space', 'space', {'height': '30'})|raw}}

                            </article>

                        </div>

                    </section>

                </div>

            </div>

        </footer>

    </div>
    
</div>

{% endblock %}